body {
  padding-top: 3.375rem;
  background-color: #b4c6a6;
}

#sideNav {
  padding-left: 1rem;
  padding-right: 1rem;
}
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
}
#sideNav .navbar-toggler:focus {
  outline-color: #ffc286;
}
#sideNav .social-icons {
  display: none;
}

main {
  min-height: 100vh;
}

.top-tag {
  padding-bottom: 3rem;
}

.jumbotron h1 {
	font-size: xx-large;
  font-weight: bold;
}

.btn {
  background-color: #fff1af;
  color: #66806a;
  border: none;
  font-family: 'Averia Serif Libre', cursive;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #ffc286;
}

.pro {
  text-decoration: #FFc286 wavy underline;
}

.about strong {
  color: #fff1af;
}


.tags {
  color: #fff1af;
  font-size: medium;
  font-family: 'La Belle Aurore', cursive;
  font-weight: lighter;
}

.bottom-tag {
  padding-top: 3rem;
}

footer {
  padding: 0.5rem;
}

footer .social-icons {
  display: block;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #fff1af;
  color: #66806a;
  border-radius: 100%;
  font-size: 1rem;
  margin-right: 0.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #ffc286;
}

.bg-main {
  background-color: #66806a;
}
.bg-main-8 {
  background-color: rgba(102, 128, 106, .8)
}
.bg-second {
  background-color: #b4c6a6;
}
.txt-color1 {
  color: #ffc286;
}
.txt-color2 {
  color: #fff1af;
}

.border-color1 {
  border: 2px solid #ffc286;
}
.border-color2 {
  border: 2px solid #fff1af;
}

.txt-head {
  font-family: 'Averia Serif Libre', cursive;
}
.txt-main {
  font-family: 'Mulish', sans-serif;
}
.txt-detail {
  font-family: 'La Belle Aurore', cursive;
}

::selection {
  background: #ffc286;
}


@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
  #sideNav {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.2rem solid #ffc286;
  }
  #sideNav .header {
    margin-bottom: 2rem;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
  #sideNav .social-icons {
    display: block;
  }
  footer .social-icons {
    display: none;
  }
}

